<% provide(:title, "新規登録") %>
<% provide(:button_text, "登録する")%>
<div class="container">
    <%= render "layouts/error_messages" %>
    <div class="row justify-content-center">
    <h2 class="fw-bold text-center border-bottom border-secondary my-4 pb-4">新規登録</h2>
      <div class="col-md-5 shadow-sm px-3 pb-5" style="background-color:#EEEEEE;">
        <h5 class="fw-bold border-bottom my-3 p-2">ユーザー情報を入力してください</h5>
        <%= render "layouts/form" %>
    </div>
      <%= link_to "ログインページに戻る", login_path, class: "mt-5 text-center" %>
</div>
