<% provide(:title, "使い方") %>
<div class="container">
    <h2 class="mt-4">JemRefの目的と使い方</h2>
    <div class="ps-4">
        <h3 class="border-bottom pt-5 pb-2">目的</h3>
        <div>
            <p>ご自身がもつ文献の情報を登録し、データベースを作ります。</p>
            <p>文献情報の整理・検索や、メモの記入などに役立ててください。</p>
        </div>
        <h3 class="border-bottom pt-5 pb-2">使い方</h3>
        <div>
            <h5 class="my-3">1. 文献情報を登録する。</h5>
            <div class="ps-3 mb-5">
                <p>ログインしてすぐの時点では、文献情報は何も入っていません。</p>
                <p>まずは「サンプルデータを入力」をお試しください。</p>
                <%= video_tag "sampledata.mp4", class: "col-12 col-sm-8", muted: true, controls: true %>
                <p class="mt-5">新たに文献情報を追加する際は、上部「文献情報の入力」ボタンを押してください。</p>
                <%= video_tag "bibinfo_registration.mp4", class: "col-12 col-sm-8", muted: true, controls: true %>
                <p>（今後、CiNii、J-STAGE等からデータを取り込めるようにする予定です。）</p>
            </div>
            <h5 class="my-3">2. 登録した文献情報を確認する。</h5>
            <div class="ps-3 mb-5">
                <p>上部「文献の一覧・検索」ボタンを押すと、登録した文献情報が一覧できます</p>
                <p>文献情報をクリックすると詳細情報が確認できます。削除・更新もここから可能です。</p>
                <!-- 動画: 文献一覧に移動、書誌情報をクリックしコラプス、削除、更新 -->
            </div>
            <h5 class="my-3">3. 詳細な情報を追加する。</h5>
            <div class="ps-3 mb-5">
                <p>文献情報には、メモやタグをつけることができます、</p>
                <p>文献情報の登録・編集時に、「詳細の入力」をクリックしてください。</p>
                <!-- 動画: 「詳細の入力」ボタンの動作 -->
                <p>一覧に表示されたタグをクリックすると、文献情報を絞り込むことができます。</p>
                <!-- 動画: タグによる絞り込み -->
                <p>（今後、文献のURLやPDFの情報も登録できるようにする予定です。）</p>
            </div>
        </div>
    </div>
</div>