<% provide(:title, "お知らせ・お問い合わせ") %>
<div class="container">
    <h2 class="mt-4">お知らせ・お問い合わせ</h2>
    <div class="ps-4">
        <h3 class="border-bottom pt-5 pb-2">お知らせ（更新情報など）</h3>
        <h5>2024年10月7日</h5>
        <p>簡単なメモ機能を追加しました。</p>
        <h5>2024年10月1日</h5>
        <p>プロトタイプ版を公開しました。</p>

    <h3  class="border-bottom pt-5 pb-2">お問い合わせ</h2>
        <p>現在は開発段階です。ご意見などがある場合は、</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScSf402YZiHTyHW-DkTEDNKOpOGzmKygJaf_YVdxqz23fndWg/viewform?usp=sf_link">こちらのフォーム</a>
        <p style="display:inline;">よりご連絡ください。</p>    

    </div>
</div>