<% provide(:title, "ホーム") %>
<div class="container">
    <div class="text-center pb-5 border-bottom">
        
        <h2 class="my-5 fw-bold">JemRefは、人文・社会科学系分野の和文文献の書誌情報整理に特化したツールです。</h2>
        <div class="mb-5" style="text-align:center; color:red;">
            <h3>注意：これはプロトタイプ版です。</h3>
            <h3>開発過程でデータが失われる恐れがありますので、本格的なご利用はお控えください。</h3>
        </div>

        <p class="">研究文献は日々蓄積され、その質も多様化しつつあります。</p>
        <p>その評価や整理を、メモや記憶だけに頼ることは困難です。</p>
        <%= image_tag "jemref_img_registration.png", class: "img-thumbnail w-50 rounded mx-auto d-block" %>
        
        <p class="pt-5 ms-3">文献を〈忘れない〉、〈見逃さない〉、〈積み残さない〉ための方法を提供します。</p>
        <%= image_tag "jemref_img_index.png", class: "img-thumbnail w-50 rounded mx-auto d-block" %>
    </div>

    
    <div class="text-center my-5">
        <%= link_to "ログイン", login_path, class: "btn btn-outline-primary btn-lg mt-4 px-5" %>
        <h5 class="my-4">または</h5>
        <%= link_to "新規登録", signup_path, class: "btn btn-secondary btn-lg px-5" %>
    </div>
