<%= form_with scope: :record, url: records_create_sample_path, method: :post do %>
<div class="col-12 text-center">
    <h5 class="my-5">まだ書誌情報がありません。</h5>
    <button type="submit" class="btn btn-secondary btn-lg my-5">サンプルデータを入力</button>
    <p class="my-5">（3件の著書、2件の論文のデータがサンプルとして入力されます。）</p>
</div>
<% end %>