
<% unless record.tags.empty? %>
<!-- TODO: n+1問題が生じている。事前にrecordsをタグごと引っ張り出しておく必要があるか。 -->
    <% record.tags.each do |tag| %>
    <div style="display:inline-block">
        <%= form_with local: true, method: :get do |f| %>
            <%= f.hidden_field :tag_name, value: tag.name %>
            <button type="submit" class="btn text-bg-secondary rounded-pill" style="font-weight:normal; font-size:14px;" id="button-addon">
                <span class="fa fa-tag pe-2"></span><%= tag.name %>
            </button>
        <% end %>
    </div>
    <% end %>
<% end %>                        
