<%= search_form_for @q do |f| %>
<!-- フリーワード検索 -->
 <div class="row">
  <div class="free-word-search input-group mb-4 ps-2 w-75">
    <!-- alias, ransackerによるリファクタリングの余地あり -->
    <%= f.search_field :author_name_or_main_title_or_sub_title_or_publisher_or_publication_main_title_or_publication_sub_title_or_compiled_by_or_memo_cont,
                      class: "form-control border-primary border-1", placeholder: "フリーワード検索", aria: { describedby: "button-addon" } %>
                    
    <%= f.submit "検索", class: "btn btn-primary px-5", id: "button-addon" %>
  </div>
  <!-- 詳細検索アコーディオンのトリガーボタン -->
  <div class="w-25" style="line-height:38px;">
    <button class="border-0 btn btn-link-dark btn-sm" style="font-size:16px;" type="button" data-bs-toggle="collapse" data-bs-target="#search-collapse" aria-expanded="false" aria-controls="search-collapse">
      詳細検索
    </button>
  </div>

</div>

<!-- 詳細検索フォーム（アコーディオンの中身のみ） -->
 <%= render "detail_search_form", f: f %>

<% end %>

