<%= search_form_for @q do |f| %>
<!-- フリーワード検索 -->
<div class="input-group mb-4 ps-2 w-75">
  <%= f.search_field :author_name_or_main_title_or_sub_title_or_publisher_or_publication_main_title_or_publication_sub_title_or_compiled_by_or_memo_cont,
                     class: "form-control border-primary border-1", placeholder: "フリーワード検索", aria: { describedby: "button-addon" } %>
  <%= f.submit "検索", class: "btn btn-primary px-5", id: "button-addon" %>
</div>
<% end %>
