<%= form_with local: true, method: :get do %>
<div class="input-group mb-4 ps-2 w-75">
  <input type="text" class="form-control border-primary border-1" name="keyword" placeholder="フリーワード検索" aria-describedby="button-addon">
  <button type="submit" class="btn btn-primary px-5" id="button-addon">検索</button>
</div>
<% end %>