<footer>
    <nav class="bg-body-tertiary bg-primary" data-bs-theme="dark" style="height:250px; margin-top:150px; padding-bottom:50px;">
      <div class="container-fluid text-center pt-4">
        <small style="color:white;">© 2024 JemRef</small>
      </div>
    </nav>
</footer>