<!-- 左づめメニュー -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
<!-- 右づめメニュー -->
<div class="d-flex navbar-nav">
    <li class="nav-item me-4">
        <%= link_to home_about_path, class: "nav-link pe-3", title: "使い方" do %>
        <i class="fa-regular fa-circle-question"></i>
        <% end %>
      </li>
      <li class="nav-item me-4">
        <%= link_to home_information_path, class: "nav-link pe-3", title: "お知らせ・お問い合わせ" do %>
        <i class="fas fa-info"></i>
        <% end %>
      </li>
  <li class="nav-item">
    <%= link_to "ログイン", login_path, class: "nav-link pe-3" %>
  </li>
  <li class="nav-item">
    <%= link_to "新規登録", signup_path, class: "nav-link pe-3" %>
  </li>
</div>
